

@import "tailwindcss";

/* header part start */
header {
  padding: 10px 0px;
  background-color: rgba(26, 11, 46, 1);

}

header nav {
  display: flex;
  justify-content: space-between;
  width: 71%;
  justify-items: center;
  margin: 0 auto;
}

nav .tech { 
  font-weight: 900;
  font-size: 44px;
  color: white;
 
}

nav .wave {
  background: linear-gradient( to top,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

nav ul{
  display: flex;
  gap: 40px;
  align-items: center;
  color: white;
}

nav img {
  display: none;
}

nav button {
  background: linear-gradient( to top,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)); 
    border-radius: 20px;
    padding: 0px 30px;
    margin: 15px 0px;
    cursor: pointer;
}
/* header part end*/

/* main section start */ 

main {
  background-image: url(./assets/hero-bg.png);
}

main .double-img {
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

main .double-img h2 {
  background-color: rgba(75, 255, 75, 0.954);
  font-weight: 500;
  padding: 5px 10px;
  border-radius: 35px;
  box-shadow: 0px 0px 15px 5px springgreen;
  position: absolute;
  margin-bottom: 280px;
  margin-left: 200px;
  animation: new 1.5s ease-in-out infinite alternate ;

}
@keyframes new {
  form {
    transform: translateY(0px);
  }
  to{
    transform: translateY(-15px);
  }
  
}
main .img2 {
  position: absolute;
}

main .hero-part-text {
  width: 71%;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  padding-top: 30px;
}

main h1 {
  color: white;
  font-size: 68px;
  font-weight: 800;
}

main p { 
  color: lightgoldenrodyellow;
}

.hero-btn-section {
  padding-top: 20px;
  padding-bottom: 50px;
  display: inline-flex;
  gap: 20px;
}

.hero-btn1 {
  background:  linear-gradient( to top,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)); 
    border-radius: 30px;
    padding: 5px 25px;
    cursor: pointer;
    color: white;
}

.hero-btn2 {
  border: 2px solid rgb(48, 218, 48);
  border-radius: 30px;
  padding: 5px 30px;
  cursor: pointe;
  color: rgb(48, 218, 48);
}
/*main section end*/

/* about section start */

.about-section {
  background-color:rgba(26, 11, 46, 1);
  padding-top: 50px;
}

.about {
  width: 71%;
  margin: 0 auto;
  text-align: center;
}

.about h1 {
  color: white;
  font-size: 44px;
  font-weight: 700;
}

.about .paragraph1 {
   color: lightgoldenrodyellow; 
   padding-top: 10px;
}

.about .paragraph2 {
  padding-top: 30px;
  padding-bottom: 40px;
  color: lightgoldenrodyellow;
}

hr {
  color: white;
  width: 71%;
  margin: 0 auto;
}

.about-card-section {
  padding-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 71%;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  padding-bottom: 80px;
}

.about-card-section h1 {
  font-size: 44px;
  font-weight: 700;
  color: rgb(48, 218, 48);
}


.about-card-section p {
  color: white;
}

/* about section end */

/* card section start */

.card-section { 
  background-color: rgba(35, 14, 61, 1);
  padding-top: 60px;
}

.card-section h1 {
  color: white;
  font-size: 44px;
  font-weight: 700;
  width: 71%;
  margin: 0 auto;
  text-align: center;
}

.card-section .cards {
  width: 71%;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 30px;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 50px;
}

.cards {
  color: white;
}

.cards h2 {
  font-size: 24px;
  font-weight: 600;
  padding: 10px 0px;
}


.premium {
  padding: 30px;
  grid-row: span 2;
  border-radius: 20px;
  background-color: rgba(53, 17, 101, 0.4);
}

.mobile{
  padding: 30px;
  grid-column: span 2;
  background-color: rgba(53, 17, 101, 0.4);
  border-radius: 20px;

}

.global {
  padding: 30px;
  grid-column: span 2;
  background-color: rgba(53, 17, 101, 0.4);
  border-radius: 20px;

}

.exclusive {
  padding: 30px;
  grid-column: span 2;
  background-color: rgba(53, 17, 101, 0.4);
  border-radius: 20px;
}

.rich {
  padding: 30px;
  grid-column: span 1;
  background-color: rgba(53, 17, 101, 0.4);
  border-radius: 20px;
}

/* card section end */

/* video section start */

.video-section {
  background-color: rgba(26, 11, 46, 1);
}

.video-section h1 {
  padding-top: 40px;
  padding-bottom: 30px;
  font-size: 48px;
  font-weight: 700;
  width: 71%;
  margin: 0 auto;
  text-align: center;
  color: white;
}

.video-card-section {
  display: flex;
  width: 71%;
  margin: 0 auto;
  gap: 60px;
  padding-top: 20px;
  padding-bottom: 60px;

}

iframe {
  border-radius: 30px;
}
.video-card h2 {
  font-size: 22px;
  font-weight: 600;
  color: white;
  padding: 10px 20px;
}

.video-card p {
  padding: 0px 20px;
  color: white;
}
.video-img {
  display: inline-flex;
  gap: 5px;
  color: rgb(48, 218, 48);
  padding: 20px 25px ;
}
.video-card {
  background-color: rgba(53, 17, 101, 0.4);
  border-radius: 30px;

}

/* video section end */

/* challenge section start */

.challenge-section {
  background-color: rgba(26, 11, 46, 1);
  padding-bottom: 70px;
}

.challenge-section h1 {
  font-size: 44px;
  color: white;
  font-weight: 700;
  text-align: center;
  padding-bottom: 50px;
}

.host {
  padding: 30px;
}

.host h2 {
  font-size: 28px;
  font-weight: 600;
  color: white;

}

.host p {
  padding-top: 20px;
  color: lightgoldenrodyellow;
}
.challeng-logo {
  padding-top: 20px;
  display: flex; 
  gap:10px;
  color: lightgoldenrodyellow;
}


.challenge-section .host {
  background-color: rgba(53, 17, 101, 0.4);
  border-radius: 50px;
  display: flex;
  width: 71%;
  margin: 0 auto;
  gap: 20px;

}

/* challenge section end */

/* footer section start */

footer {
  background-image: url(./assets/footer-bg.png);
}

footer h1 {
  text-align: center;
  font-size: 64px;
  font-weight: 700;
  color: white;
  padding-top: 100px;
}

footer h1 span {
  background: linear-gradient( to top,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.footer-logo-text {
  display: grid;
  grid-template-columns: repeat(4,auto);
  width: 50%;
  margin: 0 auto;
  justify-content: center;
  gap: 30px;
  color: white;
  padding-top: 20px;

}

.footer-logo {
  display: flex;
  gap: 10px;
}

footer P {
  color: lightgoldenrodyellow;
  padding: 70px 0px;
  text-align: center;
}

/* footer section end */

/* mobile device */

@media screen and  (max-width: 576px) {
  nav ul {
    display: none;
    
  }
  header nav {
    width: 90%;
  }
  nav button { 
    display: none;
  }

  nav img {
    display: unset;
    margin-top: 30px;
    width: 25px;
    height: 20px;
  }

  nav .tech {
    font-size: 38px;
  }

 main {
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: rgba(26, 11, 46, 1);
 }

 main .double-img h2 {
  margin-top: 0px;
  margin-left: 100px;
 }
main img {
  width: 200px;
  margin-top: -100px;
}
 main .img2 {
  width: 70px;
 }
 

 .about-card-section {
  grid-template-columns: repeat(2 ,1fr);
  gap: 30px;
 }

 .card-section .cards {
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  width: 90%;
  
 }

 .card-section h1 {
  font-size: 36px;
 }

 .video-section h1 {
  font-size: 36px;
 }

 .video-card-section {
  flex-direction: column;
 }

 .challenge-section h1 {
  font-size: 36px;

 }

 .host {
  flex-direction: column;
  text-align: center;
 }
 .challeng-logo {
  justify-content: center;
 }

 footer {
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #211041;
 }

 footer h1 {
  font-size: 28px;
  padding-top: 15px;
  padding-bottom: 10px;
 }

 .footer-logo-text {
  grid-template-columns: repeat(2,auto);
  font-size: 12px;
  gap: 10px;
  padding-top: 0px;
 }
footer p {
  font-size: 8px;
  padding: 20px 0px;
}


}