:root{
  --primary-color: Linear-gradient(
    rgba(247, 233, 63, 1) 
    rgba(251, 9, 180, 1)
    rgba(145, 0, 248, 1))
}

@import "tailwindcss";

/* header part start */
header {
  padding: 10px 0px;
  background-color: rgba(26, 11, 46, 1);

}

header nav {
  display: flex;
  justify-content: space-between;
  width: 71%;
  justify-items: center;
  margin: 0 auto;
}

nav .tech { 
  font-weight: 900;
  font-size: 44px;
  color: white;
 
}

nav .wave {
  background: linear-gradient( to top,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

nav ul{
  display: flex;
  gap: 30px;
  align-items: center;
  color: white;
}

nav button {
  background: linear-gradient( to top,
    rgba(247, 233, 63, 1),
    rgba(251, 9, 180, 1),
    rgba(145, 0, 248, 1)); 
    border-radius: 20px;
    padding: 0px 30px;
    margin: 15px 0px;
}
/* header part end*/



